<mat-card>
    <mat-card-title>Anadir nuevo producto</mat-card-title>
    <img mat-card-image [src]="form.value.thumbImage">
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field>
                <input type="text" matInput placeholder="Titulo" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Marca" formControlName="brand">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Precio" formControlName="price">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Precio Venta" formControlName="salePrice">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Thumb Image" formControlName="thumbImage">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="submit()" mat-raised-button color="primary">Anadir</button>
        <button (click)="cancel()" mat-raised-button>Cancelar</button>
    </mat-card-actions>
</mat-card>